@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}
.header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/1st.jpg");
  background-position: center;
  background-size: cover;
}
.responsivenav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #202C45;
}
.nav-colored{
  background-color: #202C45;
}
.text-prime{
  color: #202C45;
}
.bg-prime{
  background-color: #202C45;
}
.header-icon{
  background-color: #202C45;
  color: white;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.getappointbtn{
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 10rem;
  border:none;
}
.activetxt{
  color: #c82845 !important;
}
.navbar-nav{
  margin-left: 3rem;
}
.text-dng{
  color: #DA0F09;
}
.carousel-caption{
  top:30%;
  
}
.fs-70{
  font-size: 70px;
}
.slidebtn{
  text-decoration: none;
  color: white;
  background-color: #DA0F09;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 4rem;
}

.slidebtn1{
  text-decoration: none;
  color: white;
  background-color: #DA0F09;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 4rem;
  transition: 0.8s;
}
.about-us{
  top: 20%;
  translate: (-50%);
}
.servicescount{
  padding: 10rem;
}
.planbtn{
  text-decoration: none;
  color: red;
  background-color: #202C45;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 4rem;
  transition: 0.8s;
}

.activeplan{
  background-color: white;
  box-shadow: 2px 2px 5px #d9d6d8, -2px -2px 5px #d9d6d8;
  height: 420px;
  padding: 1rem;
}
.slidebtn1:hover{
  color:red;
  background-color:#202C45
}
.planbtn:hover{
  color:white;
  background-color:red;
}
.washpointform{
  background-color: red;
  padding: 3rem;
  width: 100%;
}
#button-addon1{
  border-radius: 1rem;
}
.srbtn{
  transition: 0.8s;
}
.srbtn:hover{
  background-color: #202C45;
  color: white;
}
.imgcard{
  width: 250px;
}
.sociallinks{
  position: absolute;
  top: 69%;
  left: 10%;
}
.sociallinks li{
  background-color: #202C45;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  padding-top: 0.3rem;
}
.imgcard:hover .imgcardetails{
  background-color: #DA0F09;
}
.imgcard:hover .sociallinks li{
  background-color: #DA0F09;
}

.imgcard{
  transition: 0.5s;
}
.teamimg img{
  transition: 0.5s;
}
.imgcardetails{
  transition: 0.5s;
}
.imgcard:hover img{
  transform: scale(1.1);
}